.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o H1 e a Grid */
    width: 100%;         /* Troque 100vw por 100% para evitar barras de rolagem bugadas */
    min-height: 100vh;
    padding: 40px 20px;
}

/* Ajuste na grade para organizar os itens */
.card-grid {
    display: grid;
    /* Isso cria colunas automáticas que se ajustam ao tamanho da tela */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 32px;           /* Espaço entre os cards */
    width: 100%;
    max-width: 1000px;   /* Limita a largura máxima da grade */
    margin-top: 40px;
}

.container button {
  background-color: #0275db;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 24px; 
  right: 24px;
  border: none;
  border-radius: 50%; 
  width: 56px;
  height: 56px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: all 0.2s ease; 
  z-index: 999;
}

.container button:hover {
  transform: scale(1.1);
  background-color: #0256a1; 
}